
.player {
  width: 370px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  user-select: none;
}

.timeline {
  display: flex;
  margin: 10px 0;
}

.timeline-chunk {
  width: 100%;
  height: 3px;
  background: #717171;
  border-radius: 2px;
}

.timeline-chunk + .timeline-chunk {
  margin-left: 5px;
}

.timeline-chunk-active > .timeline-chunk-inner,
.timeline-chunk-active ~ .timeline-chunk > .timeline-chunk-inner {
  width: 0;
}

.timeline-chunk-inner {
  background: #fff;
  height: inherit;
  border-radius: inherit;
}

.player-content-wrapper {
  position: relative;
}

.player-content img {
  width: 100%;
}

.player-chunk {
  display: none;
  position: relative;
}

.player-chunk-active {
  display: block;
}

.player-chunk-switcher {
  position: absolute;
  width: 30%;
  height: 100%;
  z-index: 1;
}

.player-chunk-prev {
  top: 0;
  left: 0;
}

.player-chunk-next {
  top: 0;
  right: 0;
}

.player-chunk-overlay{
  position: absolute;
  user-select: none;
}

.question{
  background: cornflowerblue;
  border-radius: 20px;
  padding: 10px;
  text-align: center;

}

.question-answers{
  margin: 10px;
  display: flex;
}

.question-answers button{
  border: none;
  font: inherit;
  color: inherit;
  background-color: white;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.question-answers button + button{
  margin-left: 15px;
}


.black-brash{
  display: flex;
  align-items: center;
  min-height: 4em;

  background: url("../../img/brash.png") no-repeat;
  background-size: contain;
  color: #fff;
  text-align: center;
}

@keyframes scale {
  50% {
    transform: scale(2);
  }
}


